<!DOCTYPE HTML>
<html>
<!-- InstanceBegin template="/Templates/layout2.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>文言語譯 (測試版)</title>
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>
<div id="page">
  <div id="content" class="container">
    <div class="page-header">
      <h1><!-- InstanceBeginEditable name="PageTitle" -->關於「悦文」<!-- InstanceEndEditable --> <small><!-- InstanceBeginEditable name="SubTitle" --><!--SubTitle--><!-- InstanceEndEditable --></small></h1>
      <!-- InstanceBeginEditable name="Submenu" --><!-- InstanceEndEditable --> <!-- InstanceBeginEditable name="Breadcrumb" --><!--Breadcrumb--><!-- InstanceEndEditable --> </div>
    <!-- InstanceBeginEditable name="content" -->
    <div class="tabbable">
    <ul class="nav nav-tabs">
    	<li class="active"><a href="#about" data-toggle="tab">關於「悦文」</a></li>
		<li><a href="#terms" data-toggle="tab">使用條款</a></li>
        <li><a href="#contact" data-toggle="tab">聯絡我們</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="about">
        	<h2>關於「悦文」</h2>
        	<p>「悦文」是由教育局研發製作的電子教學工具。</p>
            <p>此程式收集了超過500篇學習中文的參考篇章內文，作品主要選自中學中國語文學習參考篇章目錄(初中階段600篇、高中階段321篇)，以供教師及中學生閱讀之用。部分文言作品提供電子語譯練習，希望學生能透過互動形式的自學練習，提高對相關作品的理解。</p>
            <p>注意：由於部分操作系統未能支援「香港常用字」，篇章內一些文字會有闕失，敬請留意。本組現正改善有關情況。</p>
            <h2>連結到「悦文」</h2>
            <p>
                <strong>網址</strong><br />
                <a href="<%- baseURL %>" target="_blank"><%- baseURL %></a></p>
            <p>
                <strong>QR碼</strong><br />
                <img src="http://chart.apis.google.com/chart?cht=qr&amp;chs=200x200&amp;chld=2&amp;chl=<%- baseURL %>" style="width:200px;height:200px" />
            </p>
        </div>
        <div class="tab-pane" id="terms">
        	<h2>使用條款</h2>
        	<p>本教學資源由教育局研發製作，免費提供給教師在香港作學與教用途。本教學資源的版權均屬香港特別行政區政府所有，如未獲書面授權，不可複製、改編、分發、發布或使用本教學資源作商業用途。如有查詢，請致電 3698 3740 或電郵 ite@edb.gov.hk 與教育局資訊科技教育組聯絡。</p>
			<h2>版權</h2>
            <p>© 2013 Education Bureau, HKSAR Government</p>
        </div>
        <div class="tab-pane" id="contact">
        	<h2>聯絡我們</h2>
            <p>
            查詢：<br />
            教育局資訊科技教育組<br />
            電話：3698 3740<br />
            電郵：ite@edb.gov.hk 
            </p>
        </div>
    </div>
    </div>
    <div class="text-right"><img src="img/home/bg.png" /></div>
    <!-- InstanceEndEditable --> </div>
</div>
<!-- InstanceBeginEditable name="Code" --><!--Code--><!-- InstanceEndEditable -->
</body>
<!-- InstanceEnd -->
</html>